<div class="container">
    <div class="advice">
        <h1>Business Advice</h1>
        <p>Problems trying to resolve the conflict between<br>
        the two major roalms of classical physics: Newtonian mechanics</p>
    </div>
    <div class="buttons">
        <div class="btn-one">
            <button class="button-1">
                <div *ngFor="let item of clients" class="clients">
                    <img src="../../assets/{{item.imageSrc}}" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-1">
                <div class="clients">
                    <img src="../../assets/Friendz.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-1">
                <div class="clients">
                    <img src="../../assets/Friendz.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
        </div>
        <div class="btn-two">
            <button class="button-2">
                <div class="clients">
                    <img src="../../assets/Friendz.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-2">
                <div class="clients">
                    <img src="../../assets/Friendz.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-2">
                <div class="clients">
                    <img src="../../assets/Friendz.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
        </div>
    </div>
    
</div>
