<div class="container">
    <div class="advice">
        <h1>Business Advice</h1>
        <p>Problems trying to resolve the conflict between<br>
        the two major roalms of classical physics: Newtonian mechanics</p>
    </div>
    <div class="buttons">
        <div class="btn-one">
            <button class="button-one">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-one">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-one">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
        </div>
        <div class="btn-two">
            <button class="button-two">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-two">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
            <button class="button-two">
                <div class="clients">
                    <img src="../../assets/Friends.png" class="friends"> 
                    <p class="para">Put The<br>Client First</p>
                </div>
            </button>
        </div>
    </div>
    
</div>
