*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}



.nav-bar, .btn, .btn-two{
    display: flex;
}

.btn-one, .btn-two{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: white;
}

.button-one, .button-two{
    width: 125px;
    height: 35px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    background-color: (95, 226, 255);
    color: beige;
}

.btn-one, .btn-two, .clients{
    display: flex;
}

.button-1, .button-2{
    width: 192px;
    height: 60px;
    background-color: white;
    margin-left: 20px;
    border: 1px solid rgb(230, 223, 223);
    margin-top: 30px;
     
}