*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}



.nav-bar, .btn, .btn-two{
    display: flex;
}

.btn-one, .btn-two{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: white;
}

.button-one, .button-two{
    width: 125px;
    height: 35px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
   background-color: rgb(4, 175, 214);
    color: beige;
}

