<div class="toolBar">
    <div class="box-0ne">
    <div class="nav-bar">
        <h1>Freshfinance</h1>
    
    <div class="labels">
        <label class="home">Home</label>
        <label class="product">Product</label>
        <label class="pricing">Pricing</label>
        <label class="contact">Contact</label>
    </div>

    <div class="btn">
        <div class="">
            <button class="btn-one">Login</button>
        </div>
        <div class="">
            <button class="btn-two">Get in Touch</button>
        </div>
    </div>
</div>

<div class="business">
    <h1>Business Advisory<br>Services</h1>
    <p>Disaster recover planning, business continuity<br>
    management, and disaster recovery.</p>
    <div class="buttons">
        <div class="">
            <button class="button-one">Get Qoute Now</button>
        </div>
        <div class="">
            <button class="button-two">Learn More</button>
        </div>
    </div>
</div>
</div>
