<div class="toolBar">
    <div class="box-0ne">
    <div class="nav-bar">
        <h1><b>Freshfinance</b></h1>
    
    <div class="labels">
        <label class="home"><b>Home</b></label>
        <label class="product"><b>Product</b></label>
        <label class="pricing"><b>Pricing</b></label>
        <label class="contact"><b>Contact</b></label>
    </div>

    <div class="btn">
       <div class="">
            <button class="btn-one"><b>Login</b></button>
        </div>
        <div class="">
            <button class="btn-two">
                <div class="para">
                <p>Get in Touch</p>
                </div>
                <div class="arrow">
                <mat-icon class="right-arrow">arrow_right_alt</mat-icon>
                </div>
            </button>
        </div>
    </div>
</div>

<div *ngFor="let business of businesses" class="business">
    <h1>Business Advisory<br><br>Services</h1>
    <p>Disaster recover planning, business continuity<br>
    management, and disaster recovery.</p>
    <div class="buttons">
        <div class="">
            <button class="button-one">Get Qoute Now</button>
        </div>
        <div class="">
            <button class="button-two">Learn More</button>
        </div>
    </div>
</div>
</div>
