*{
    margin: 0;
    padding: 0;
}

.toolBar{
    width: 1000px;
    height: 400px;
    background: url(../../assets/Consulting.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
   
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-bar h1{
    font-size: 20px;
    margin-left: 66px;
    margin-top: 10px;
    color: rgb(69, 64, 64);
}

.labels{
    margin-left: 78px;
    font-size: 12px;
}

.contact, .pricing, .product{
    margin-left: 10px;
}

.btn{
    display: flex;
    margin-left: 170px;
    margin-top: 10px;
}

.btn-one{
    width: 125px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: white;
}

.btn-two{
    display: flex;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: rgb(4, 175, 214);
    color: white;
}

.para p{
    margin-left: 8px;
    margin-top: 8px;
    text-align: start;
    color: white;
}

.right-arrow{
    margin-left: 5px;
    margin-top: 4px;
}

.business h1,p{
    margin-left: 88px;
}

.business h1{
    font-size: 49px;
    margin-top: 45px;
    color: rgb(30, 28, 28);
}

.business p{
    font-size: 18px;
    color: rgb(88, 86, 86);
}

.buttons{
    display: flex;
    margin-left: 90px;
}

.button-one{
    width: 125px;
    height: 35px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    background-color: rgb(4, 175, 214);
    color: beige;
}

.button-two{
    width: 125px;
    height: 35px;
    border: 1px solid  rgb(4, 175, 214);
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: transparent;
    color:  rgb(4, 175, 214);
}

.box-0ne{
    height: 100%;
    background-image: linear-gradient(to right,
    white 15%,
    rgba(225, 225, 225, 0));
}




