*{
    margin: 0;
    padding: 0;
}

.toolBar{
    width: 1000px;
    height: 380px;
    background: url(../../assets/BusinessServices.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
   
}

.nav-bar{
    align-items: center;
    margin-left: 20px;
}

.nav-bar h1{
    font-size: 20px;
    margin-left: 66px;
    margin-top: 10px;
    color: rgb(69, 64, 64);
}

.labels{
    margin-left: 78px;
    font-size: 12px;
}

.contact, .pricing, .product{
    margin-left: 10px;
}

.btn{
    margin-left: 170px;
    margin-top: 10px;
}

.btn-one{
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-two{

    background-color: rgb(32, 166, 243);
}

.para p{
    margin-left: 8px;
    margin-top: 8px;
    text-align: start;
    color: white;
}

.right-arrow{
    margin-left: 5px;
    margin-top: 4px;
}

.business h1,p{
    margin-left: 88px;
}

.business h1{
    font-size: 55px;
    margin-top: 45px;
    color: rgb(30, 28, 28);
}

.business p{
    font-size: 16px;
    margin-top: 20px;
    color: rgb(88, 86, 86);
}

.buttons{
    display: flex;
    margin-left: 90px;
}

.button-one{
    background-color: rgb(32, 166, 243);
}

.button-two{
    margin-left: 5px;
    border: 1px solid  rgb(32, 166, 243);
    background-color: transparent;
    color: rgb(32, 166, 243);
}

.box-0ne{
    height: 100%;
    background-image: linear-gradient(to right,
    white 15%,
    rgba(225, 225, 225, 0));
}




